*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --sheight:1vw;
    --swidth:1vw;
    --fontsize: 8rem;
}
.animationBox{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(#ff5722, #ffc107);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--fontsize);
}
.animationBox h1{
    /* take it in center */
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translate(0,-50%);
    color: rgba(255, 255, 255, 0.877);
    z-index: 5;
}
.shapes ul{
    list-style-type: none;
}
.shapes ul li{
    position: absolute;
    top: 1%;
    left: 1%;
    height: var(--sheight);
    width: var(--swidth);
    border: 1px solid #ffffff;
    opacity: 0;
}

/* place row waise */
/* first row is by :default placed  */
/* 1st style for 2nd row ,2nd style for 3rd row and so on */
.shapes ul li:nth-child(n+6){top: 25%;}
.shapes ul li:nth-child(n+11){top: 50%;}
.shapes ul li:nth-child(n+16){top: 75%;}
.shapes ul li:nth-child(n+21){top: 99%;transform: translate(0,-100%);}

/* place verticali */
/* first column is by :default placed  */
.shapes ul li:nth-child(10n+6){left: 11%;}
.shapes ul li:nth-child(10n+2){left: 22%;}
.shapes ul li:nth-child(10n+7){left: 33%;}
.shapes ul li:nth-child(10n+3){left: 44%;}
.shapes ul li:nth-child(10n+8){left: 55%;}
.shapes ul li:nth-child(10n+4){left: 66%;}
.shapes ul li:nth-child(10n+9){left: 77%;}
.shapes ul li:nth-child(10n+5){left: 88%;}
.shapes ul li:nth-child(10n){left: 99%;transform: translate(-100%,0);}

/* by default shape is square */

/*  widther */
.shapes ul li:nth-child(6n+3),.shapes ul li:nth-child(6n){width: 2.5vw;}
/*  higher */
.shapes ul li:nth-child(6n+2),.shapes ul li:nth-child(6n+5){height: 2.5vw;}
/* circle and  */
.shapes ul li:nth-child(6n+2),.shapes ul li:nth-child(6n+4),.shapes ul li:nth-child(6n){border-radius: 50%;}

/* amination style  */
.shapes ul li:nth-child(10n+1){animation:zoomIn 3s linear infinite;}
.shapes ul li:nth-child(10n+2){animation:zoomOut 3s linear infinite;}
.shapes ul li:nth-child(10n+3){animation:zoomIn-rotateX 4s linear infinite;}
.shapes ul li:nth-child(10n+4){animation:zoomIn-rotateX-up-round 5s linear infinite;}
.shapes ul li:nth-child(10n+5){animation:zoomIn-rotateY 4.4s linear infinite;}
.shapes ul li:nth-child(10n+6){animation:zoomIn-rotateY-up-round 5.4s linear infinite;}
.shapes ul li:nth-child(10n+7){animation:zoomOut-rotateX 4.8s linear infinite;}
.shapes ul li:nth-child(10n+8){animation:zoomOut-rotateX-up-round 5.7s linear infinite;}
.shapes ul li:nth-child(10n+9){animation:zoomOut-rotateY 4s linear infinite;}
.shapes ul li:nth-child(10n){animation:zoomOut-rotateY-up-round 6s linear infinite;}

/* animation delay */
.shapes ul li:nth-child(4n+1){animation-delay: 2s;}
.shapes ul li:nth-child(4n+2){animation-delay: 3s;}
.shapes ul li:nth-child(4n+3){animation-delay: 5s;}

/* animation declearation */
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(5);
        opacity: 0;
    }
}
@keyframes zoomOut{
    0%{
        transform: scale(5);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes zoomIn-rotateX {
    0%{
        transform: scale(0) rotateX(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotateX(1000deg);
        opacity: 0;
    }
}@keyframes zoomIn-rotateX-up-round {
    0%{
        transform: scale(0) rotateX(0deg);
        opacity: 1;
        top: 100%;
        border-radius: 0;
    }
    100%{
        transform: scale(5) rotateX(2000deg);
        opacity: 0;
        top: 10%;
        border-radius: 50%;
    }
}
@keyframes zoomIn-rotateY {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}
@keyframes zoomIn-rotateY-up-round {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
        top: 100%;
        border-radius: 0;
    }
    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
        top: 10%;
        border-radius: 50%;
    }
}
@keyframes zoomOut-rotateX {
    0%{
        transform: scale(5) rotateX(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(0) rotateX(1000deg);
        opacity: 0;
    }
}
@keyframes zoomOut-rotateX-up-round {
    0%{
        transform: scale(5) rotateX(0deg);
        opacity: 1;
        border-radius: 50%;
        top: 100%;
    }
    100%{
        transform: scale(0) rotateX(1000deg);
        opacity: 0;
        top: 10%;
        border-radius: 0;
    }
}
@keyframes zoomOut-rotateY{
    0%{
        transform: scale(5) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(0) rotateY(1000deg);
        opacity: 0;
    }
}
@keyframes zoomOut-rotateY-up-round{
    0%{
        transform: scale(5) rotateY(0deg);
        opacity: 1;
        top: 100%;
        border-radius: 50%;
    }
    100%{
        transform: scale(0) rotateY(1000deg);
        opacity: 0;
        top: 10%;
        border-radius: 0;
    }
}

/* responsive part  */
@media only screen and (min-width:1224px) and (max-width:1400px){:root {--fontsize: 7rem;}}
@media only screen and (max-width:1224px){:root {--fontsize: 6rem;}}
@media only screen and (max-width:1024px){:root {--fontsize: 5rem;}}
@media only screen and (max-width:864px){:root {--fontsize: 4.3rem;}}
@media only screen and (max-width:776px){:root {--fontsize: 3.8rem;}}
@media only screen and (max-width:666px){:root {--fontsize: 3rem;}}
@media only screen and (max-width:512px){:root {--fontsize: 2.5rem;}}
@media only screen and (max-width:466px){:root {--fontsize: 2rem;}}
@media only screen and (max-width:400px){:root {--fontsize: 1.7rem;}}
@media only screen and (max-width:320px){:root {--fontsize: 1.1rem;}}